<div class="row">
  <div class="col-lg-6 m-auto">
    <div class="p-5">
      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">{{ modoEditar ? 'Editar' : "Crear" }} Inscripción</h1>
      </div>
      <form class="user"  [formGroup]="formInscripcion" (ngSubmit)="modoEditar ? editarInscripcion() : crearInscripcion()">
        <!--ME FALTA TERMINAR LOS DESPLEGABLES-->
        <div class="form-group"> 
          <input type="number" class="form-control form-control-user" id="exampleDNI" placeholder="DNI del socio" formControlName="dniSocio"> 
        </div>

        <!-- Lista de planes -->


        <div class="form-group">
          <select class="form-control form-control-user" formControlName="plan">
            <option *ngFor="let plan of planes" [ngValue]="plan">
              {{ plan.nombre }}
            </option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary btn-block" [disabled]="formInscripcion.invalid">
          {{ modoEditar ? 'Editar' : "Crear" }} Inscripción
        </button>

      </form>

      
    </div>
  </div>
</div>
