<div class="row">
    <div class="col-lg-6 m-auto">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Crear gimnasio</h1>
            </div>
            <form class="user">
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Logo">
                </div>
            </form>
            <a href="login.html" class="btn btn-primary btn-user btn-block">
                Crear gimnasio
            </a>
        </div>
    </div>
</div>