<div class="row">
    <div class="col-lg-6 m-auto">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">{{modoEditar ? 'Editar' : "Crear"}} gimnasio</h1>
            </div>
            <form class="user">
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="Nombre del gimnasio" [(ngModel)]="inputNombreGimnasio" name="nombreGimnasio">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="URL logo del gimnasio" [(ngModel)]="inputLogoGimnasio" name="logoGimnasio">
                </div>
            </form>
            <button type="submit" class="btn btn-primary btn-block" (click)="modoEditar ? editarGimnasio() : crearGimnasio()">
                {{modoEditar ? 'Editar' : "Crear"}} gimnasio
            </button>
        </div>
    </div>
</div>