<div class="row">
    <div class="col-lg-6 m-auto">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">{{modoEditar ? 'Editar' : "Crear"}} socio</h1>
            </div>
            <form class="user">
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="DNI del socio" [(ngModel)]="inputDniSocio" name="DniSocio">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Nombre del socio" [(ngModel)]="inputNombreSocio" name="nombreSocio">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Apellido del socio" [(ngModel)]="inputApellidoSocio" name="apellidoSocio">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Teléfono del socio" [(ngModel)]="inputTelefonoSocio" name="telefonoSocio">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="estadoSocio" [(ngModel)]="inputEstadoSocio" name="estadoSocio">
                    <label class="form-check-label" for="estadoSocio">Activo</label>
                </div>

            </form>
            <button type="submit" class="btn btn-primary btn-block" (click)="modoEditar ? editarSocio() : crearSocio()">
                {{modoEditar ? 'Editar' : "Crear"}} Socio
            </button>
        </div>
    </div>
</div>
