<!-- <div class="row">
    <div class="col-lg-6 m-auto">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">{{modoEditar ? 'Editar' : "Crear"}} socio</h1>
            </div>
            <form class="user">
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="Nombre del plan" [(ngModel)]="inputDniSocio" name="DniSocio">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Descripción del plan" [(ngModel)]="inputNombreSocio" name="nombreSocio">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Precio del plan" [(ngModel)]="inputApellidoSocio" name="apellidoSocio">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Duración del plan" [(ngModel)]="inputTelefonoSocio" name="telefonoSocio">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Cantidad de clases por semana" [(ngModel)]="inputEstadoSocio" name="estadoSocio">
                </div>

            </form>
            <button type="submit" class="btn btn-primary btn-block" (click)="modoEditar ? editarSocio() : crearSocio()">
                {{modoEditar ? 'Editar' : "Crear"}} gimnasio
            </button>
        </div>
    </div>
</div> -->
